# Project: What promotes higher rates of family female workers?

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In this project, we are going to _analyse the impact of several indicators on the number of family female workers_. The data is extracted from [GapMinder](https://www.gapminder.org/data/).

The purpose of this analysis is to understand:
- What are the factors that give a stronger chance to a country to count more family female workers? 
- How did the female/male family workers ratio evolve over time in 2 selected european countries?

In this perspective, we will analyse _economy, education, equality and society_ indicators to estimate their effect on the rate of female family workers. We are going to select 10 countries around the world to frame this analysis.

####  Scope

> The 10 countries we will keep in the dataset for this analysis are:
1. Sweden
2. Germany
3. Belgium
4. Italy
5. Senegal
6. India
7. USA
8. Brasil
9. Syria
10. Australia

#### Questions

In this analysis, we will attempt to answer the following detailed questions:

1. How are the list of 10 countries ranked based on # of female workers ?
2. Which indicator has a highest average positive correlation with # of female workers ? 
3. What is the female/male ratio of family workers ?
4. What level of income/Aid for most equal ratio of female/male family workers ?
5. How did female/male ratio of family workers evolved in Belgium and Italy in the past vs. today ?

#### Data collection

> **Datasets**: we have downloaded 5 datasets from GapMinder in order to perform this analysis:
>
> - Female Family workers
> - Male Family workers
> - Income
> - Mean years in school
> - Human development Index

In [22]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# import datasets
df_female = pd.read_csv('female_family_workers_percent_of_female_employment.csv')
df_male = pd.read_csv('male_family_workers_percent_of_male_employment.csv')
df_income = pd.read_csv('income_per_person_gdppercapita_ppp_inflation_adjusted.csv')
df_school = pd.read_csv('mean_years_in_school_women_percent_men_25_to_34_years.csv')
df_hdi = pd.read_csv('hdi_human_development_index.csv')

<a id='wrangling'></a>
## Data Wrangling

#### Assessment
> Let's check each of these dataframes info, we noticed:
> - All these datasets look like they have the same structure: countries in rows and years in columns
> - Indicator data is in a float type, so no need to reformat them
> - Data is more complete only recently 
> - Some countries may be missing
> - School years and HDI only have collected data until 2015

In [ ]:
# Female family workers
df_female.info()

In [ ]:
# Male family workers
df_male.info()

In [ ]:
# Income
df_income.head()

In [ ]:
# School years
df_school.info()

In [ ]:
# HDI
df_hdi.info()

In [ ]:
df_female.country.unique()

### Data cleaning and new unified datasets

#### Cleaning

>So in terms of data:
> - In order to have one column by indicator in our newly formed dataset, we will calculate the average of each indicator
> - For the first questions, we will calculate the value of indicators by average from 2010 until 2015 (recent overview)
> - For the last question, we will calculate the value of indicators by average from 1995 until 2000 (past overview)
> - We will then merge all the datasets based on the countries
> - We need to check if all countries we want are there
> - Filter out countries we do not analyse
> - Sanity check for duplicates in the final dataset

In [ ]:
# List the countries to keep in analysis
countries = ['Sweden', 'Belgium','Italy', 'Germany', 'Brazil', 'Senegal', 'India','United States', 'Australia', 'Syria'  ]

In [ ]:
df_female.head()

In [ ]:
# Calculate mean for female workers indicator from 2010 to 2015 period per country
female_workers_10_15 = df_female.loc[:,'2010':'2015'].mean(axis=1).round(2)
# Calculate mean for female workers indicator from 1995 to 2000 period per country 
female_workers_95_00 = df_female.loc[:,'1995':'2000'].mean(axis=1).round(2)

In [ ]:
# Add means to dataframe
df_female ['female_workers_10_15'] = female_workers_10_15
df_female ['female_workers_95_00'] = female_workers_95_00

# Build a dataframe with only necessary information for our analysis and this indicator 
# keep countries in case we wanted to extend our analysis to other countries later
df_female_ind = df_female.iloc[:,np.r_[0:1,49:51]]

In [ ]:
df_female_ind.head()

In [ ]:
# Calculate mean for male workers indicator from 2010 to 2015 period per country
male_workers_10_15 = df_male.loc[:,'2010':'2015'].mean(axis=1).round(2)
# Calculate mean for male workers indicator from 1995 to 2000 period per country 
male_workers_95_00 = df_male.loc[:,'1995':'2000'].mean(axis=1).round(2)

# Add means to dataframe
df_male ['male_workers_10_15'] = male_workers_10_15
df_male ['male_workers_95_00'] = male_workers_95_00

# Build a dataframe with only necessary information for our analysis and this indicator 
# keep countries in case we wanted to extend our analysis to other countries later
df_male_ind = df_male.iloc[:,np.r_[0:1,49:51]]

In [23]:
list_df_to_combine = [df_female, df_male, df_income, df_school, df_hdi]

In [24]:
df_female.head()

,country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.50,NaN,NaN,NaN,38.6,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.70,43.90,43.60,43.20,50.2,45.10,42.00,39.8,NaN,26.80
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.98,5.32,8.48,2.18,NaN,2.94,1.63,NaN,NaN,2.41
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.10,NaN,NaN,6.99,NaN,NaN,NaN
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

In [ ]:
df = pd.DataFrame()

In [48]:
# Create function to get the name of a dataframe
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name


# create loop to from new dataframes from each indicator

for i in list_df_to_combine:

    # Prepare naming   
    x = get_df_name(i).split("_",2)[1]
    # new columns  
    y = x + "_10_15"
    z = x + "_95_00"
    # new dataframe
    df = "df_"+ x +"_ind"
    print(df)
   
    # Calculate mean for i indicator from 2010 to 2015 period per country
    k = i.loc[:,'2010':'2015'].mean(axis=1).round(2)
    # Calculate mean for i indicator from 1995 to 2000 period per country 
    l = i.loc[:,'1995':'2000'].mean(axis=1).round(2)

    # Add means to dataframe
    i [y] = k
    i [z] = l

    # Build a dataframe with only necessary information for our analysis and this indicator 
    # Get positions of last columns   
    a = i.shape[1]-2
    b = i.shape[1]
    
    #  Define a dictionary to store our dataframes
    new_dfs = {}
    # Build our dataframe   
    df_ind = { df:i.iloc[:,np.r_[0:1,a:b]]}
    print(df_ind)
    # Add it to the dictionary
    new_dfs.update(df_ind)

df_female_ind
{'df_female_ind':                  country  female_10_15  female_95_00
0            Afghanistan         38.60           NaN
1                Albania         43.98           NaN
2                Algeria          3.81           NaN
3                 Angola         24.54           NaN
4    Antigua and Barbuda           NaN           NaN
..                   ...           ...           ...
166            Venezuela          1.44          1.64
167              Vietnam         24.42         55.56
168                Yemen         38.50          0.35
169               Zambia         52.00         48.13
170             Zimbabwe          4.72         16.00

[171 rows x 3 columns]}
df_male_ind
{'df_male_ind':                  country  male_10_15  male_95_00
0            Afghanistan        7.90         NaN
1                Albania       22.15         NaN
2                Algeria        2.26         NaN
3                 Angola       16.66         NaN
4    Antigua and Barbuda         NaN         NaN
..                   ...         ...         ...
165            Venezuela        0.63        1.32
166              Vietnam       12.92       23.66
167                Yemen        9.35        0.33
168               Zambia       17.10       18.00
169             Zimbabwe        3.12       13.50

[170 rows x 3 columns]}
df_income_ind
{'df_income_ind':          country  income_10_15  income_95_00
0    Afghanistan       1741.67        937.50
1        Albania      10455.00       4626.67
2        Algeria      13266.67       9706.67
3        Andorra      43016.67      29566.67
4         Angola       6081.67       3345.00
..           ...           ...           ...
188    Venezuela      16866.67      14983.33
189      Vietnam       5046.67       2365.00
190        Yemen       3726.67       3686.67
191       Zambia       3498.33       2080.00
192     Zimbabwe       1778.33       2648.33

[193 rows x 3 columns]}
df_school_ind
{'df_school_ind':          country  school_10_15  school_95_00
0    Afghanistan         23.20         19.75
1        Albania        102.00         98.25
2        Algeria         89.90         85.62
3        Andorra        105.67        104.00
4         Angola         71.97         63.68
..           ...           ...           ...
182    Venezuela        109.00        105.33
183      Vietnam         98.78         92.85
184        Yemen         28.85         21.55
185       Zambia         84.07         77.53
186     Zimbabwe         91.02         83.67

[187 rows x 3 columns]}
df_hdi_ind
{'df_hdi_ind':          country  hdi_10_15  hdi_95_00
0    Afghanistan       0.47       0.33
1        Albania       0.76       0.64
2        Algeria       0.74       0.62
3        Andorra       0.84        NaN
4         Angola       0.52       0.39
..           ...        ...        ...
182    Venezuela       0.77       0.67
183      Vietnam       0.67       0.55
184        Yemen       0.49       0.43
185       Zambia       0.56       0.41
186     Zimbabwe       0.49       0.45

[187 rows x 3 columns]}

In [47]:
new_dfs['df_hdi_ind']

         country  hdi_10_15  hdi_95_00
0    Afghanistan       0.47       0.33
1        Albania       0.76       0.64
2        Algeria       0.74       0.62
3        Andorra       0.84        NaN
4         Angola       0.52       0.39
..           ...        ...        ...
182    Venezuela       0.77       0.67
183      Vietnam       0.67       0.55
184        Yemen       0.49       0.43
185       Zambia       0.56       0.41
186     Zimbabwe       0.49       0.45

[187 rows x 3 columns]

In [38]:
df_female_ind

Empty DataFrame
Columns: []
Index: []

In [40]:
for i in list_df_to_combine:

    # Prepare naming   
    x = get_df_name(i).split("_",2)[1]
    print(x)

female
male
income
school
hdi

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!